@charset "UTF-8";
/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

ul[class],
ol[class] {
	padding: 0;
	list-style: none;
}

body {
	scroll-behavior: smooth;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	display: block;
}

input,
button,
textarea,
select {
	font: inherit;
}

/*------------------------------------*/
body {
	font-family: Open Sans, sans-serif;
	font-weight: 500;
	overflow-x: hidden;
}

html {
	overflow-x: hidden;
}

/* HEADER
---------------------------------------------*/
header {
	height: 105px;
	z-index: 6;
}
header .container {
	height: 105px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
}

.logo {
	font-family: Source Sans Pro, sans-serif;
	font-weight: 900;
	font-size: 25px;
	margin-left: 10px;
	z-index: 3;
	color: #fff;
}

.bg {
	background-color: #333d3f;
}

/* MENU STYLE */
.header__nav {
	display: block;
}

.header__menu {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	z-index: 2;
}

.header__menu li {
	list-style: none;
	margin: 5px;
	min-width: 100px;
	text-align: center;
}

.menu__item {
	color: #ebebeb;
}

.menu__item:hover {
	color: #fff;
	border: 2px solid;
	border-radius: 20px;
	padding: 6px 12px 6px 12px;
}

.menu__item:active {
	color: rgba(0, 0, 0, 0.5);
	background-color: #fff;
	border: 2px solid #fff;
	border-radius: 20px;
	font-weight: 700;
	padding: 6px 12px 6px 12px;
}

/* MEDIA */
@media (max-width: 992px) {
	header {
		height: 75px;
	}
	header .container {
		height: 75px;
	}

	.header__nav {
		display: block;
		position: absolute;
		width: 100%;
		-webkit-transition: all 0.4s ease;
		transition: all 0.4s ease;
		left: -100%;
	}

	.open-menu {
		display: block;
		-webkit-transition: all 0.4s ease;
		transition: all 0.4s ease;
	}

	.header__menu {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		text-align: right;
		position: absolute;
		top: 36px;
		background-color: #333d3f;
		width: 100%;
		height: 100vh;
	}

	.header__nav.open-menu {
		left: 0;
	}

	.header__menu li {
		margin: 25px;
		text-align: right;
		margin-right: 50px;
	}

	/* BUTTON STYLE */
	.menu-burger__header {
		position: relative;
		width: 30px;
		height: 30px;
		display: block;
		z-index: 4;
		right: 10px;
		cursor: pointer;
	}

	.menu-burger__header span, .menu-burger__header:after, .menu-burger__header:before {
		height: 3px;
		width: 100%;
		position: absolute;
		background: #ebebeb;
		margin: 0 auto;
	}

	.menu-burger__header span {
		top: 14px;
	}

	.menu-burger__header:after, .menu-burger__header:before {
		content: "";
	}

	.menu-burger__header:after {
		bottom: 5px;
	}

	.menu-burger__header:before {
		top: 5px;
	}

	.menu-burger__header.open-menu span {
		opacity: 0;
		-webkit-transition: 0.2s;
		transition: 0.2s;
	}

	.menu-burger__header.open-menu:before {
		-webkit-transform: rotate(38deg);
		        transform: rotate(38deg);
		top: 13px;
		-webkit-transition: 0.2s;
		transition: 0.2s;
	}

	.menu-burger__header.open-menu:after {
		-webkit-transform: rotate(-38deg);
		        transform: rotate(-38deg);
		bottom: 14px;
		-webkit-transition: 0.2s;
		transition: 0.2s;
	}
}
/* INTRO
---------------------------------------------*/
.intro {
	position: absolute;
	top: 0;
	z-index: -2;
	width: 100%;
	height: 900px;
}

.intro__pic {
	display: block;
	width: 100%;
	height: 100%;
	z-index: -2;
	-o-object-fit: cover;
	   object-fit: cover;
	-o-object-position: center;
	   object-position: center;
}

@media (max-width: 767px) {
	.intro {
		height: 750px;
	}
}